{% extends 'landmapper/base.html' %}
{% load static %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'landmapper/css/auth.css' %}">
{% endblock styles %}

{% block footer %}
    <footer class="row pb-3 account-footer">
        {% if not user.is_authenticated %}
            <div>
                <a class="btn btn-success" href="/auth/signup/?next={{next}}">Create an account</a>
            </div>
        {% endif %}
        <div>
            <a href="/landmapper/tou/" id="tos-link">Terms of Use</a>
        </div>
        <div>
            <a href="/landmapper/privacy/" id="privacy-link">Privacy Policy</a>
        </div>
    </footer>
{% endblock footer %}