{% extends 'allauth:account/password_change.html' %} 

{% load i18n %}

{% block styles %}
    {{ block.super }}
    {% include 'account/auth_style_overrides.html' %}
{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    {% if messages %}
        <div>
        <strong>{% trans "Messages:" %}</strong>
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}