{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'landmapper/css/auth.css' %}">
{% endblock styles %}d

{% block content %}
<div class="container">
    <div class="row py-1">
        <h1>Welcome to Landmapper</h1>
    </div>
    <div class="row">
        <form class="signup py-3 px-5 bg-white" id="signup_form" method="post" action="/auth/signup/?next=/">
            {% csrf_token %}
            <h3 class="pb-4">Create an Account</h3>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            {{ form.as_p }}
            
              <button type="submit" class="btn btn-primary">Get Started</button>
              <small id="submitHelp" class="form-text text-muted">By clicking this button, you agree to our <a href="/landmapper/tou/" target="_blank">Terms of Use</a>.</small>
        </form>
    </div>
    <div class="row mt-4 mb-4">
        <a href="/auth/login/?next={{next}}">Log in to an existing account</a>
    </div>

</div>

<script>
    const next = window.location.search.split('?next=')[1] ? window.location.search.split('?next=')[1] : '/';
    document.querySelector('#signup_form').action = `/auth/signup/?next=/${next};
</script>

{% endblock content %}
f