landmapper.egg-info
*.pyc
.DS_Store
.idea
ubuntu-xenial-16.04-cloudimg-console.log
data/
Vagrantfile
.vagrant
*local_settings.py
landmapper/app/testing_files
*/shapefiles
*/.ipynb_checkpoints
*/.idea
*/.git
*/.gitignore
*/.gitattributes
*/.gitmodules
*/.gitkeep