Django==4.2b1
django-allauth>=0.39.0
django-ckeditor>=5.6.1
django-compressor>=2.2
django-redis>=4.10.0
django-registration>=3.0
-e git+https://github.com/Ecotrust/madrona-features.git@main#egg=madrona_features
-e git+https://github.com/Ecotrust/p97-nursery.git@main#egg=p97-nursery
-e git+https://github.com/Ecotrust/madrona-manipulators.git@main#egg=madrona_manipulators
geopy>=1.18.1
ipdb>=0.11
ipython>=7.3.0
oauthlib>=3.0.1
pandas>=0.24.1
Pillow>=5.4.1
psycopg2-binary>=2.7.7
rasterio>=1.0.21
rasterstats>=0.13.1
redis>=3.2.0
scipy>=1.2.1
Shapely>=1.6.4.post2
simplejson>=3.16.0
xlrd>=1.2.0

########
# LandMapper Requirements
########
# Geo tools
# owslib
# Wrapper for many Geocoding APIs
geocoder
geopandas
imageio
scikit-image
pygeos
matplotlib
# matplotlib_scalebar
pypdf2
PdfJinja