Django==4.2b1
django-allauth
django-ckeditor
django-compressor
django-flatblocks
django-redis
django-registration
-e git+https://github.com/Ecotrust/madrona-features.git@main#egg=madrona_features
-e git+https://github.com/Ecotrust/p97-nursery.git@main#egg=p97-nursery
-e git+https://github.com/Ecotrust/madrona-manipulators.git@main#egg=madrona_manipulators
geopy
ipdb
ipython
oauthlib
pandas
Pillow
psycopg2-binary
rasterio
rasterstats
redis
scipy
Shapely
simplejson
xlrd

########
# LandMapper Requirements
########
# Geo tools
# owslib
# Wrapper for many Geocoding APIs
geocoder
geopandas
imageio
scikit-image
pygeos
matplotlib
# matplotlib_scalebar
pypdf2
PdfJinja