{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  {% include 'landmapper/blocks/extra_head.html' %}
{% endblock extra_head %}

{% block header %}
  {% include 'landmapper/blocks/navbar.html' %}
{% endblock header %}

{% block outer_content %}
  <main>
    <div class="container">
      <a class="anchor" id="page-header"></a>
      <div class="page-header">
        {% block page_header %}
          <h1>{% block page_title %}{% endblock page_title %}</h1>
        {% endblock page_header %}
      </div>
    </div>
    <div class="content">
      <div class="container">
        {% block content_home %}{% endblock content_home %}
        {% block content %}{% endblock content %}
        {% block nav_footer %}{% endblock nav_footer %}
      </div>
      {% block containerless_content %}{% endblock containerless_content %}
    </div>
  </main>
{% endblock outer_content %}

{% block footer %}
  {% include 'landmapper/footer.html' %}
{% endblock footer %}

<script src="{% static 'landmapper/modals.js' %}"></script>
