ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
DEBUG=1
POSTGRES_ENGINE=django.contrib.gis.db.backends.postgis
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=landmapper
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password_change_me
SECRET_KEY=foobar
MAPBOX_TOKEN=
GOOGLE_API_KEY=
GEOAPIFY_API_KEY=
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
ARCGIS_DEVELOPER_KEY=
GOOGLE_ANALYTICS_KEY=