body {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 1em;
}

h1 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.75em;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.375em;
  margin-bottom: 1rem;
}

p {
  margin: 0 0 1em;
}

a:hover {
  text-decoration: none;
}

/* colors */
.lm-green {
  background: #2c7d7a;
}
.lm-green-text {
  color: #2c7d7a;
}

.lm-teal {
  background: #00a564;
}

.lm-maroon {
  background: #843854;
}

/* header */
header {
  left: 0;
  height: 128px;
  padding-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1048;
}

.brand-logo {
  font-family: serif;
  font-weight: 700;
  opacity: 1;
  transition: 0.15s opacity ease-in-out;
}

.brand-logo:hover {
  color: #fff;
  opacity: 0.7;
}

.navbar-brand {
  font-size: 1em;
  padding: 0;
}

  .navbar-brand h1 {
    margin: 0;
    line-height: 64px;
  }

.hidden {
  display: none;
}

nav {
  display: block;
  overflow: hidden;
}

nav i.material-icons {
  display: inline-block;
  vertical-align: middle;
}

nav a {
  color: #fff;
  opacity: 1;
  transition: 0.15s opacity ease-in-out;
}

nav a:hover {
  color: #fff;
  opacity: 0.7;
}

.navbar-fixed .nav-wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1100px;
}

.navbar-fixed.secondary-nav nav {
  box-shadow: none;
}

.navbar-fixed.secondary-nav .nav-wrapper {
  max-width: 900px;
}

.navbar-fixed.secondary-nav #select-taxlot,
.navbar-fixed.secondary-nav #draw-parcel {
  font-size: 14px;
  line-height: 36px;
  height: 36px;
  padding: 0 14px;
}
  .navbar-fixed.secondary-nav #select-taxlot {
    margin-right: 3%;
  }

body.template-visualize .search-box,
body.template-visualize .form-search .btn {
  display: inline-block;
  float: none;
  margin: 0 -4px;
  vertical-align: bottom;
}

body.template-visualize .form-search .btn {
  padding: 0 .5rem;
  text-align: center;
  width: 18%;
}

body.template-visualize .search-box {
  border-bottom: none;
  background-color: #fff;
  box-sizing: border-box;
  display: inline-block;
  height: 36px;
  font-size: .875em;
  font-weight: normal;
  line-height: 36px;
  margin: 0 0 0 0;
  padding: .5rem;
  vertical-align: bottom;
  width: 75%;
}

body.template-visualize .prefix {
  bottom: 0;
  color: #fff;
  left: 75%;
  height: 36px;
  line-height: 36px;
  font-size: 1.5em;
  padding: 0;
  text-align: center;
  width: 18%;
}

.navbar-fixed.secondary-nav .input-group {
  width: 100%;
}

.navbar-fixed.secondary-nav .input-field {
  height: 64px;
  line-height: 64px;
  vertical-align: bottom;
}

.navicon {
  background-color: rgba(255,255,255,0.9);
  background-image: url('imgs/ic/navicon.svg');
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: transparent;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  text-indent: -100vw;
  top: 0;
  width: 100%;
}

/* home */

.home-section {
  display: block;
  padding: 25vh 0;
}

/* planner */

#fullscreen, #map-wrapper, #map {
  height: 100vh;
  width: 100vw;
}

.navbar{
  margin-bottom: 0px;
}

#map {
  overflow: hidden;
}

body.template-visualize #left-panel {
  left: 0;
}

/* ol controls */
div.olControlZoom {
  background: rgba(255,255,255,0.9);
  bottom: 30px;
  right: 20px;
  padding: 0;
  width: 44px;
  z-index: 1049;
}

div.olControlZoom .olButton {
  background: transparent;
  font-size: 1.75em;
  height: 44px;
  line-height: 44px;
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  width: 44px;
}

div.olControlZoom .olControlZoomOut {
  font-size: 2em;
  line-height: 36px;
}

body.template-visualize #baselayers {
  bottom: 138px;
  position: absolute;
  right: 44px;
  z-index: 999;
}

body.template-visualize #baselayers .fixed-action-btn {
  background: rgba(255,255,255,0.9);
  bottom: 138px;
  right: 20px;
  padding: 0;
  width: 44px;
}

body.template-visualize #baselayers .btn-floating {
  color: #333;
  border: none;
  border-radius: 0%;
  height: 44px;
  line-height: 44px;
  margin: 0;
  padding: 0;
  width: 44px;
}

body.template-visualize #baselayers #toggleBaselayer {
  background-image: none !important;
  background: transparent;
  bottom: 0;
  border: none;
  border-radius: 0%;
  box-shadow: none;
  display: block;
  height: 44px;
  line-height: 44px;
  position: absolute;
  left: 0;
  width: 44px;
  vertical-align: middle;
}

body.template-visualize #baselayers #toggleBaselayer i {
  color: #333;
  font-size: 24px;
  line-height: 44px;
}

body.template-visualize #map-controls {
  bottom: 202px;
  right: 20px;
  font-size: 24px;
  padding: 0;
  top: auto;
  z-index: 9999;
}

  body.template-visualize #map-controls .btn {
    background: rgba(255,255,255,0.9);
    border-radius: 0;
    color: #333;
    margin: 0;
    padding: 0;
    height: 44px;
    line-height: 44px;
    width: 44px;
  }

  body.template-visualize #map-controls .btn i {
    font-size: 24px;
    line-height: 44px;
  }

  body.template-visualize #map-controls #btn-print,
  body.template-visualize #map-controls #basemap-button {
    margin-bottom: 20px;
  }

body.template-visualize .SimpleLayerSwitcher {
  box-shadow: 0 0 2px #ccc;
    position: absolute;
    bottom: 138px;
    right: 65px;
    max-width: 80px;
    text-align: left;
    opacity: 1;
    border-radius: 0px;
    display: none;
    overflow: hidden;
    width: 80px;
}


#map .olControlScaleBar {
  bottom: 44px;
  left: 25vw;
}

.panel-heading {
  background: transparent;
  height: auto;
}

  #left-panel h4 {

  }

.panel-body h4 {
  font-size: 1.0625rem;
  line-height: 2.5;
  letter-spacing: 0;
  margin-bottom: 0;
}

  body.template-visualize .sidebar-nav .nav-tabs > li {
    padding: 0;
    text-align: center;
    width: 25%;
  }

  body.template-visualize .sidebar-nav .nav-tabs > li:first-child {
    min-width: auto;
  }

  body.template-visualize .sidebar-nav .nav-tabs > li.active {
    background: rgba(44, 125, 122, 0.7);
  }

  body.template-visualize .sidebar-nav .nav-tabs > li a {
    color: #333;
  }

  body.template-visualize .sidebar-nav .nav-tabs > li.active a {
    border-bottom: none;
    color: #fff;
    text-decoration: none;
  }

body.template-visualize #primary-content {
  height: 100vh;
}

body.template-visualize #left-panel:not(.collapsed),
body.template-visualize #left-panel.collapsed {
  background: rgba(255,255,255,0.95);
  border: none;
  height: calc(100% - 92px);
  margin: 0;
  position: absolute;
  top: 92px;
  transition: width .25s ease-out;
  z-index: 1058;
}


body.template-visualize #left-panel:not(.collapsed) {
  width: 28%;
}

body.template-visualize #left-panel.collapsed {
  width: 0;
}
  body.template-visualize #left-panel.collapsed .panel-body {
    width: 0;
    overflow: hidden;
  }

body.template-visualize #left-panel .panel-heading {
  background: transparent;
  padding: 0;
  height: 44px;
}

body.template-visualize #left-panel .panel-body,
body.template-visualize .sidebar-nav .tab-content,
body.template-visualize .sidebar-nav #data-accordion,
body.template-visualize .sidebar-nav .nav-tabs,
body.template-visualize #data-panel {
  background: transparent;
}

body.template-visualize .panel.collapsible .panel-title span {
  display: none;
}

body.template-visualize .panel.collapsible .panel-title .collapse-button {
  background: transparent;
  float: none;
  padding: 0;
  right: 44px;
  height:  44px;
  transform: translate(44px,0);
  width: 44px;
}

body.template-visualize #left-panel.collapsed .panel-title .collapse-button {
  left: 0;
  top: 8px;
  padding: 0;
}

.ic-wrap {
  height: 3em;
  width: 3em;
}

[class^="ic-"],
[class*=" ic-"] {
  background-size: cover;
  display: block;
  text-indent: -100vw;
  height: 100%;
  width: 100%;
}

  .ic-basemaps {
    background-image: url('imgs/ic/ic_map.svg');
  }

.material-icons {
  display: inline-block;
}

.material-tooltip {
  display: none;
}

.tap-target-wrapper.open .tap-target.t1 {
  opacity: 0.84;
}

.t1 {
  height: 380px;
  padding: 0;
  width: 380px;
}

.t2 {
  height: 600px;
  padding: 0;
  width: 600px;
}

.t1 h5,
.t2 h5 {
  line-height: 1.5;
  font-size: 1.25em;
  vertical-align: middle;
}

.t1 ul,
.t2 ul {
  text-align: left;
  margin: 0;
  padding: 0 0 0 40px;
}

.t1 .tap-target-content,
.t2 .tap-target-content {
  padding: 0;
}

.t2 .tap-target-content {
  padding: 60px 0 0 0 !important;
}

.t1 .tap-target-content li,
.t2 .tap-target-content li {
  color: #fff;
  opacity: 0;
}

#center-element {
  height: 10px;
  left: 50%;
  pointer-events: none;
  position: fixed;
  top: 50%;
  width: 10px;
  z-index: -1;
}

.tap-target-wave:before, .tap-target-wave:after {
  width: 0;
}

.tabs .btn.cancel_button,
.tabs .btn.btn-default.cancel_button {
  background: #999;
}

.tabs .btn.btn-warning {
    background: #2c7d7a;
}

.tabs .btn.btn-primary {
  background: #00a564;
}

.tabs .btn.btn-default {
  background: #455a64;
}

.tabs .btn {
  background: #2c7d7a;
  font-size: 1em;
  padding: 0 15px;
}

.tabs .btn-group.pull-right .btn {
  margin-left: 10px;
}

.tabs .btn-group.pull-left .btn {
  margin-right: 10px;
}

.layer-row .btn tr,
.layer-row .btn td,
.layer-row .btn th {
  padding: 0;
}

td.text span {
  color: #fff;
}

.tabs .btn {
    background: rgba(44, 125, 122, 0.7);
}

footer nav {
  box-shadow: none;
  text-align: right;
}
  footer nav a {
    display: inline-block;
    padding: 0 1.5rem;
    vertical-align: bottom;
  }

  footer img {
    max-width: 60%;
  }

  footer a {
    font-size: .875em;
    letter-spacing: 0.025em;
    text-transform: uppercase;
  }

  footer .small {
    font-size: .875em;
  }

@media only screen and (min-width: 601px) {

  nav .nav-wrapper #select-taxlot,
  nav .nav-wrapper #draw-parcel {
    vertical-align: bottom;
  }

  nav .nav-wrapper #select-taxlot i,
  nav .nav-wrapper #draw-parcel i {
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    margin: 0 12px 0 0;
    display: block;
    vertical-align: middle;
  }
}

@media only print {

  html {
		height: 100%;
	}

  body.template-visualize {
    height: 100%;
  }

  body.template-visualize #primary-content {
    height: 100%;
  }

  body.template-visualize #fullscreen {
    height: 100%;
  }

  body.template-visualize #map-wrapper {
    height: 100%;
    position: relative;
  }

  body.template-visualize #map {
    bottom: 0;
    height: 100%;
    overflow: visible;
    right: 0;
    width: 100%;
    z-index: 9999;
  }

  body.template-visualize #left-panel:not(.collapsed) {
    display: block;
    height: auto;
    left: 0;
    padding: 0 5%;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  body.template-visualize #left-panel #left-panel-body {
    height: 100%;
  }

  body.template-visualize #left-panel .tab-pane#legend,
  body.template-visualize #left-panel .tab-pane#data {
    display: block;
    height: auto;
    visibility: visible;
    width: 100%;
  }

  body.template-visualize .nav-tabs {
    display: none;
  }

  body.template-visualize .tab-content .tab-pane {
    position: relative;
    height: auto;
  }

  path {
    fill-opacity: 0 !important;
    stroke: yellow;
    stroke-opacity: .95;
    stroke-width: 5;
  }

  .gmnoscreen,
  .navicon,
  #OpenLayers.Control.MousePosition_43,
  #map .olControlScaleBar,
	.olControlScaleBar,
	.olControlZoom,
	#baselayers,
	#map-controls,
  .SimpleLayerSwitcher,
  #aggregated-attribute-content h4,
  #close-attribute-overlay,
	#bookmark-popover,
	#pageGuideMessage {
		display: none;
	}

  #OpenLayers\2e Map_2_GMapContainer > div > div > div > div > div > div > div:nth-child(1) > div:nth-child(1) > img,
  #OpenLayers\2e Map_2_GMapContainer > div > div > div > div > div > div > div:nth-child(1) > div:nth-child(1),
  #OpenLayers\2e Map_2_GMapContainer > div > div > div > div > div > div > div > div {
    height: 256px;
    width: 256px;
  }

  .gm-style div:nth-of-type(2) {

  }

	.modal {
		display: none !important;
	}
}
