{% extends 'index.html' %}

{% block content_home %}
  <section class="content">
    <div class="col-md-10 col-md-offset-1">
      <h2>{{ content.title }}</h2>
    </div>
    <div class="col-md-10 col-md-offset-1">

    </div>
    <div class="col-md-6 col-md-offset-3">
      {% if user.is_authenticated %}
        <a href="{% url 'landmapper:visualize' %}" class="btn btn-default">{{ content.is_auth }}</a>
      {% else %}
        <a href="{% url 'account:register' %}" class="btn btn-default">{{ content.unauth }}</a>
        <a data-bind='attr: { href: "{% url 'account:index' %}" + "?next=" + encodeURIComponent(currentURL()) }'>Log in here</a>
      {% endif %}
    </div>
  </section>
{% endblock content_home %}
