{% extends 'accounts/login.html' %}

{% block title %}Login{% endblock %}

{% block extra_head %}
  {% include 'landmapper/blocks/extra_head.html' %}
{% endblock extra_head %}

{% block header %}
  {% include 'landmapper/blocks/navbar.html' %}
{% endblock header %}

{% block page_header %}{% endblock page_header %}

{% block content %}
  <div class="login">
    <h2>{{ title }}</h2>

    <div>
        <form class="login-form" method="POST" action="{% url 'account:index' %}{% if next %}?next={{ next }}{% endif %}">
                {% csrf_token %}

                {{ form.as_div }}


            <div class="social-login">
                or log in with
                <a class="fa-stack fa-lg" href="{% url 'social:begin' 'twitter' %}?next={{ next }}">
                    <i class="fa fa-circle fa-stack-2x green"></i>
                    <i class="fa fa-twitter fa-stack-1x white"></i>
                </a>

                <a class="fa-stack fa-lg" href="{% url 'social:begin' 'facebook' %}?next={{ next }}">
                    <i class="fa fa-circle fa-stack-2x green"></i>
                    <i class="fa fa-facebook fa-stack-1x white"></i>
                </a>
            </div>

            <div class="text-center">
                <button class="btn btn-success btn-lg" onclick='this.form.submit()'>Log in &rarr;</button>
            </div>
        </form>
    </div>

    <div>
        <br />
        <br />
        <p class="text-center">
            <a href="{% url 'account:forgot_password' %}">I forgot my password</a>
            &bull; <a href="{% url 'account:register' %}">I want to register</a>
            &bull; <a href="/help/">Help</a>
        </p>
    </div>
  </div>
{% endblock content %}
