{% extends "landmapper/blocks/layer-row.html" %}

{% block "nameAction" %}toggleVisible{% endblock %}

{% block "controls" %}
<td>
    <a class="btn opacity-button" data-bind="click: $parent.showOpacity">
        <i class="fa fa-adjust" data-toggle="tooltip" data-placement="left" title="Adjust opacity"></i>
    </a>
</td>
<td>
    <a class="btn" data-bind="click: toggleActive">
        <i class="fa fa-times-circle" data-toggle="tooltip" data-placement="left" title="Remove layer"></i>
    </a>
</td>
{% endblock %}
