{% extends "landmapper/blocks/layer-row.html" %}

{% block "after" %}
    <!-- ko if: subLayers.length > 0 -->
      <!-- ko if: !isCheckBoxLayer() -->
      <ul class="dropdown-menu dropdown-menu-right layer-menu">
          <li data-bind="foreach: subLayers">
              <a data-bind="click: toggleActive">
                  <span><i class="fa green" data-bind="css: { 'fa-check-circle-o': visible(), 'fa-circle-o': ! visible() }"></i></span>
                  <span class="deep-blue uppercase" data-bind="text: name"></span>
              </a>
          </li>
      </ul>
      <!-- /ko -->
      <!-- ko if: isCheckBoxLayer() -->
      <ul class="dropdown-menu dropdown-menu-right layer-menu">
          <li data-bind="foreach: subLayers">
              <a data-bind="click: toggleActive" style="padding-left: 15px">
                  <span><i class="fa green" data-bind="css: { 'fa-check-square-o': visible(), 'fa-square-o': ! visible() }"></i></span>
                  <span class="deep-blue uppercase" data-bind="text: name"></span>
              </a>
          </li>
      </ul>
      <!-- /ko -->
    <!-- /ko -->
{% endblock %}
