{% load compress static %}

{% block extra_css %}
  <link href="https://fonts.googleapis.com/css?family=Megrim|Noto+Sans" rel="stylesheet">
  <link href="{% static 'visualize/css/print.css' %}" rel="stylesheet" media="print">
  <!-- <link href="{% static 'visualize/css/scalebar-thin.css' %}" rel="stylesheet"> -->
  <link href="{% static 'js/lib/openlayers/theme/default/style.css' %}" rel="stylesheet" >
  <!-- <link href="{% static 'bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'materialize/css/materialize.css' %}" rel="stylesheet" />
  <link href="{% static 'landmapper/css/material-icons.css' %}" rel="stylesheet">
  <link href="{% static 'landmapper/style.css' %}" rel="stylesheet" />
{% endblock%}
