{% extends "index.html" %}
{% load static %}

{% block outer_content %}
<main>
  <section class="container section">
    <div class="center-align">
      <h1>{{ header_login }}</h1>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <form class="form" method="post" action="{% url 'account:index' %}{% if next %}?next={{ next }}{% endif %}">
          {% csrf_token %}

          {{ form.as_div }}
          
          <div class="modal-center">
            <input type="submit" class="btn" value="Login"><br/>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="container section">
    <div class="row">
      <!-- <div class="social-login">
        <h3>{{ header_social_login }}</h3>
        <a class="fa-stack fa-lg" href="{% url 'social:begin' 'twitter' %}?next={{ next }}">
            <i class="fa fa-circle fa-stack-2x green"></i>
            <i class="fa fa-twitter fa-stack-1x white"></i>
        </a>
        <a class="fa-stack fa-lg" href="{% url 'social:begin' 'facebook' %}?next={{ next }}">
            <i class="fa fa-circle fa-stack-2x green"></i>
            <i class="fa fa-facebook fa-stack-1x white"></i>
        </a>
      </div> -->

      <div class="col s6 offset-s3 modal-center">
        <p class="text-center">
            <a href="{% url 'account:forgot_password' %}">I forgot my password</a>
            &bull; <a href="{% url 'account:register' %}">I want to register</a>
            &bull; <a href="/help/">Help</a>
        </p>
      </div>
    </div>
  </section>
</main>
{% endblock outer_content %}
