{% extends 'accounts/login.html' %}

{% block title %}Login{% endblock %}

{% block extra_head %}
  {% include 'landmapper/blocks/extra_head.html' %}
{% endblock extra_head %}

{% block header %}
  {% include 'landmapper/blocks/navbar.html' %}
{% endblock header %}

{% block page_header %}{% endblock page_header %}

{% block content %}
  <div class="login">
    <h2>{{ title }}</h2>

    <div>
      <form method="post" action="/login/">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="modal-center">
          <input type="submit" class="btn" value="Login"><br/>
        </div>
      </form>
      <div class="modal-center">
        <a href="/accounts/register">Request Signup</a>
        <span class="splitter">|</span>
        <a>Forgot Username or Password</a>
      </div>
    </div>
  </div>
{% endblock content %}
