{% load static %}
<div class="navbar-fixed secondary-nav" id="search-bar">
  <nav class="transparent">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s6 offset-s3 white-text right-align" id="selectone" data-bind="with: app.viewModel.scenarios">
          <button class="waves-effect btn" id="select-taxlot" data-bind="click: function() { select_tax_lot() }, clickBubble: false"><i class="material-icons left">pin_drop</i>Select Lot</button>
            {% if user.is_authenticated %}
              <button class="waves-effect btn" id="draw-parcel" data-bind="click: function () { openDrawingAuth() }, clickBubble: false"><i class="material-icons left">create</i>Draw New Boundary</button>
            {% else %}
              <button class="waves-effect btn" id="draw-parcel" data-bind="click: function () { openDrawingAnonymous(); }, clickBubble: false"><i class="material-icons left">create</i>Draw Boundary</button>
            {% endif %}
        </div>
        <div class="col s3">
          <form class="form-search hide-collapsed" id='geosearch-form' data-bind="submit: geoSearch">
            <div class="input-group input-field inline inner-addon">
              <input type="text" id="input-geosearch" class="input-large search-query search-box main-search form-control"
                       placeholder="Search by placename" data-bind="value: searchTerm">
              <button class="btn btn-mini" type="submit"><i class="material-icons prefix">search</i></button>
            </div>
         </form>
        </div>
      </div>
    </div>
  </nav>
</div>

<div id="center-element" data-for="target-intro"></div>

<div class="tap-target t1 teal darken-4" data-activates="center-element">
  <div class="tap-target-content">
    <ul id="start-steps">
      <li><h5 class="white-text"><i class="material-icons left">keyboard_arrow_right</i>Find an area of land to map</h5></li>
      <li><h5 class="white-text"><i class="material-icons left">keyboard_arrow_right</i>Explore the map</h5></li>
      <li>
        <h5 class="white-text"><i class="material-icons left">keyboard_arrow_right</i>Choose select lot or draw your own boundary</h5>
        <br />
        <button class="waves-effect btn" id="select-taxlot" data-bind="click: function() { select_tax_lot() }, clickBubble: false"><i class="material-icons left">pin_drop</i>Select Lot</button>
        <button class="waves-effect btn" id="draw-parcel" data-bind="click: function () { openDrawingAuth() }, clickBubble: false"><i class="material-icons left">create</i>Draw New Boundary</button>
      </li>
    </ul>
  </div>
</div>
