header {
  background: var(--primary-color);
}

header .navbar {
  border-bottom: 1px solid var(--dark-grey);
}


header .navbar {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.navbar-brand:after {
  color: var(--white);
  display: inline-block;
  font-size: 1em;
  margin-left: 1em;
  vertical-align: bottom;
}

@media screen and (min-width: 1190px) {
  header .navbar {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.nav-item {
  color: var(--light-grey);
  font-size: .9375rem;
  letter-spacing: 1px;
  margin: 0 25px;
  padding: 5px;
}

.nav-item:last-of-type {
  margin-right: 0;
}

.navbar-nav .nav-item .nav-link {
  color: var(--light-grey);
  font-family: var(--primary-font-heavy);
  font-size: 1.125em;
  font-weight: normal;
  letter-spacing: 0.125em;
  text-transform: capitalize;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--white);
}
