:root {
    /* Oregon */
    --primary-color-or: #002A86;
    --secondary-color-or: #FFEA0F;

    --primary-color-state: var(--primary-color-or);
    --secondary-color-state: var(--secondary-color-or);
}

.navbar-brand:after {
    content: "Oregon";
}