/* @import url(base.css); */

#main-content {
  background: var(--white);
}

p {
  font-size: 17px;
  line-height: 1.75;
  margin-bottom: 0;
}

#section-property .content-panel {
  padding: 2vh 1vw;
  margin-left: 0;
}

#section-property .section-flex-wrap {
  display: block !important;
  margin: 0 auto;
  position: relative;
}

.action-wrap {
  font-size: 14px;
}

  .action-wrap .link-primary {
    color: #0d6efd;
  }

  .action-wrap a,
  .action-wrap button {
    margin: 4px 0;
  }

  .action-wrap button:disabled {
    pointer-events: none;
  }

#copy-to-account {
  background-color: var(--info);
}

#section-property .map-image-wrap {
  max-height: 100%;
  width: auto;
}

.section-report {
  border-bottom: 1px solid var(--black);
  /* height: 100vh; */
  overflow: hidden;
  width: 100%;
}

.map-image-wrap {
  margin: 3vh 3vh 3vh 0;
  position: relative;
}

.section-report:not(#section-property) h1 {
  font-size: 28px;
  letter-spacing: 1.4px;
  line-height: 39px;
}

.section-report:not(#section-property) h3 {
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: var(--body-font-weight);
  letter-spacing: 1px;
  line-height: 27px;
}

.anchor-links {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0;
  margin: 1vh 0px;
  word-spacing: 0;
}

.anchor-links nav {
  justify-content: space-between;
}

.anchor-links a {
  border: none;
  color: var(--primary-color);
  font-family: var(--primary-font-heavy);
  font-weight: 900;
  padding: 2px;
  margin: 0;
  text-decoration: none;
}

.anchor-links a:hover {
  background: rgba(var(--primary-color-rgb), 0.15);
  border: none;
  color: var(--primary-color);
  opacity: 1;
  outline: 5px rgba(var(--primary-color-rgb), 0.05);
  text-decoration: none;
}

.legend-wrap {
  margin-top: 3vh;
  /* margin-left: -1.5vh; */
}

.legend-wrap img {
  width: 300px;
}

.scalebar {
  background-color: rgba(255,255,255,0.6);
  top: 2px;
  max-height: none;
  min-height: auto;
  height: auto;
  left: 2px;
  outline: 1px solid rgba(255,255,255,0.2);
  position: absolute;
  width: auto;
  max-width: none;
  min-width: auto;
  z-index: 1;
}

.icon-north {
  opacity: 0.6;
  position: absolute;
  top: 1vh;
  right: 1vh;
  max-width: 32px;
}

.copy-link {
  text-wrap: nowrap;
}

.icon {
  display: block;
  margin: .25em auto;
  width: 1.75em;
  /* vertical-align: text-bottom; */
}

.btn-action {
  background: transparent;
  border: none;
  padding: .5em .75em;
}

.btn-action:hover {
  background: rgba(var(--primary-color-rgb), 0.15);
  border: none;
  outline: 5px rgba(var(--primary-color-rgb), 0.05);
}

.btn-action .icon {
  height: 100%;
  margin: 0 auto;
  width: 2.5em;
}

.icon-copy {
  margin: .125em auto;
  width: 2.25em;
}

.attribution {
  background: rgba(120,120,120,0.1);
  display: inline-block;
  padding: 20px;
  margin-top: 5vh;
}

.attribution p {
  font-size: 14px;
  line-height: 1.375;
}

.attribution-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.attribution-tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.attribution-tooltip:hover .attribution-tooltip-text {
  visibility: visible;
}

.button-wrap {
  position: relative;
  margin: 2em 0;
}

.section-report .btn {
  text-transform: uppercase;
  font-size: 1em;
}

/**
 * soils
 *
 */

#section-soil-tables h1,
#section-soil-tables h3 {
  display: inline;
}

#section-soil-tables h3 {
  padding-left: 5px;
}

#section-soil-tables .content-panel {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.soil-type-list {
  font-size: 16px;
  line-height: 1.25;
  margin: 20px 20px 35px 20px;
}

.list-group-symbol {
  border: 3px solid transparent;
  float: left;
  font-weight: bold;
  line-height: 1;
  padding: 15px 20px 13px;
  margin:  0 10px 10px 0;
}

.soil-type .list-group-symbol {
  border-color:  #EBAE33;
}

.forest-type .list-group-symbol {
  border-color:  #F2CA19;
}

.list-group-title {
  display: inline-block;
  font-size: 1.125em;
  font-weight: bold;
}

.warning-wrap {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid red;
}

.warning-message {
  font-size: 24px;
  color: red;
  font-weight: bold;
}

/**
 * Min width 980px
 * @type {[media query]}
 */
@media screen and (min-width: 980px) {

  #section-property .section-flex-wrap {
    display: flex !important;
    margin: 0 auto;
  }

  #section-property .content-panel {
    min-width: 420px;
  }

  .section-report .content-panel {
    width: 420px;
  }

}

@media screen and (min-width: 1220px) {

  #section-property .content-panel {
    min-width: 540px;
  }

  .button-wrap {
    bottom: 0;
    position: absolute;
  }
}

@media screen and (min-width: 1440px) {

  #section-property .content-panel {
    min-width: 600px;
  }

}